.container {
  display: grid;
  border: 2px solid grey;
  width: 500px;
  height: 600px;
  grid-template: 1fr 1fr 1fr 1fr 50px / 1fr 1fr 65px 65px;
  grid-gap: 20px;
}
.item {
  background-color: black;
  border: 2px solid grey;
}
.a {
  grid-area: 1 / 1 / 2 / 2;
}
.b {
  grid-area: 1 / 2 / 2 / 5;
}
.c {
  grid-area: 2 / 1 / 6 / 2;
}
.d {
  grid-area: 2 / 2 / 6 / 3;
}
.e {
  grid-area: 2 / 3 / 6 / 5;
}
