.container {
  height: 600px;
  width: 500px;
  border: 2px solid grey;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 10px;
}
.item {
  background-color: black;
  border: 2px solid grey;
}
.a {
  grid-area: 1 / 1 / 7 / 2;
}
.b {
  grid-area: 1 / 2/ 7/ 3;
}
